article {
  margin: 0;
  padding: 0;
  background-image: url("../public/fond3.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  /* Styles spécifiques pour les écrans ayant une largeur maximale de 768 pixels (ajustez selon vos besoins) */
  article {
    background-image: url("../public/fond2.jpg");
    background-size: contain;
    background-attachment: fixed; /* Pour permettre le défilement de l'image sur mobile */
  }
}

